.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  width: 280px;
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 32px 16px;

  background-color: white;

  transition: transform 0.3s ease-out;

  &.Open {
    transform: translateX(0);
  }

  &.Close {
    transform: translateX(-100%);
  }

  .Logo {
    align-self: center;
    height: 20%;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 576px) {
    display: none;
  }
}
